.projects-container {
	width: 100vw;
	min-height: 200vh;
	position: relative;
	//overflow: hidden;
}

.projects-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2.2px;
	position: absolute;
	font-size: 24px;
}

.projects-sections-container {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;

	.project-container {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;

		.project-wrapper {
			margin: auto;
			width: 90%;
			height: 80%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;

			video {
				width: 60%;
				height: 70%;
				opacity: 0.6;
				//transition: all 0.5s cubic-bezier(0.43, 0.13, 0.23, 0.96);
				cursor: pointer;
				clip-path: inset(100% 0% 0% 0%);
				transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
				object-fit: contain;
				object-position: center;

				&.is-reveal {
					clip-path: inset(0% 0% 0% 0%);
				}

				&:hover {
					filter: none;
					transform: scale(1.05);
					opacity: 0.9;
				}
			}

			.project-info {
				width: 55%;
				display: flex;
				flex-direction: column;
				position: absolute;
				right: 0;
				transform: translateX(-50%);
				text-decoration: none;
				padding: 5px;
				color: #f1f1f1;

				span {
					text-shadow: 0 7px 9.11px #74858c1d;
					font-family: 'Oswald', sans-serif;
					font-size: 6vw;
					letter-spacing: 5px;
					text-transform: uppercase;
					font-weight: 800;
					margin: 10px 0;
				}
				p {
					font-size: 1.2vw;
					font-family: 'Poppins', sans-serif;
					font-weight: 400;
					padding: 5px;
					text-align: justify;
				}

				#project-info-tech {
					font-weight: 600;
				}

				.project-links {
					display: flex;
					margin-top: 20px;
					div {
						background-color: #010101;
						display: flex;
						width: fit-content;
						margin-right: 20px;
						padding: 5px 20px;
						align-items: center;
						justify-content: space-around;
						border-radius: 14px;
						transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
						color: #f1f1f1;

						&:first-child {
							color: #f1f1f1;
						}

						p {
							font-size: 12px;
							padding: 0;
							display: inline-block;
							text-transform: uppercase;
							padding-top: 3px;
              font-weight: 600;
						}

						&:hover {
							transform: scale(1.05);
							background-color: #f1f1f1;
							color: #010101;
						}
						&:first-child:hover {
							color: #010101;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 600px) {
	.projects-container {
		padding-top: 20vh;
		height: auto;
    min-height: 0;
    overflow: hidden;

		.projects-title {
			font-size: 10px;
			text-align: center;
			position: absolute;
			left: 0;
			right: 0;
		}
		.project-container {
			height: auto;
			.project-wrapper {
        display:flex;
        flex-direction: column;
        margin-bottom: 30px;
				video {
					width: 100%;
					height: 100%;
					transition: all 0.5s cubic-bezier(0.43, 0.13, 0.23, 0.96);
					cursor: pointer;
				}

        .project-info {
          width: 90%;
          
          display: flex;
          flex-direction: column;
          position:relative;
          align-items: center;
          transform: translateX(0);
  
          span {
            font-size: 2rem;
          }
          p {
            font-size: 1.1rem;
            font-weight: 400;
            text-align: center;
          }
  
          .project-links {
          justify-content: space-between;
          width: 100%;

          div{
            margin:0;
          }
            
          }
        }
			}
		}
	}
}
